* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
:root {
  --primary-text-color: gray;
  --secoundary-color: #0364ff;
  --third-color: rgba(230, 230, 230, 0.274);
}
body {
}
a {
  text-decoration: none;
  display: inline-block;
}
.container {
  max-width: 1950px;
  margin-inline: auto;
  padding-inline: 5px;
  overflow: hidden;
}
.flex {
  display: flex;
}
ul {
  list-style: none;
}
.company-logo img {
  width: 100px;
}
.home {
  margin-left: -900px;
}
.features {
  margin-left: -850px;
}
.downloads {
  margin-left: -780px;
}
.plans {
  margin-left: -700px;
}
.main-nav {
  padding: 25px;
}
.nav-links {
  font-size: 17px;
  flex-basis: 1600px;
}

.nav-links ul {
  justify-content: end;
  gap: 20px;
}
.hover-link {
  color: black;
}
.hover-link:hover {
  color: var(--secoundary-color);
  transition: 0.3s;
}
.login,
.primary-button {
  padding: 7px;
  font-size: 13px;
  cursor: pointer;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 50px;
  background-color: var(--secoundary-color);
  border-style: none;
  color: azure;
  box-shadow: 0 0 2px var(--secoundary-color);
  transition: 0.2s ease-out;
}
.login:hover,
.primary-button:hover {
  background-color: #045bde;
}
.auth-btn {
  margin-top: -20px;
  margin-left: 1410px;
}
.sign-up {
  padding: 7px;
  font-size: 13px;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  color: var(--secoundary-color);
  background-color: aliceblue;
  border-style: outset;
  border-width: 1px;
  border-color: #0364ff !important;
  border-radius: 50px;
}
.sign-up:hover {
  background-color: rgb(214, 214, 214);
}
/* hero section */
header {
  padding: 50px 20px;
}
.header-section {
  justify-content: center;
  gap: 50px;
}
.header-right img {
  width: 800px;
}
.header-left {
  max-width: 40vw;
}
.hero-text {
  font-size: 55px;
  margin-top: 30px;
}
.hero-para {
  color: var(--primary-text-color);
  font-size: 15px;
  margin-top: 20px;
}
.start-meeting-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}
.companies-header {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 0px;
}
.companies-section {
  background-color: var(--third-color);
}
.logos {
  filter: grayscale(1);
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}
.companies-logo {
  width: 200px;
}
.companies-number {
  font-size: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.companies-text {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  gap: 150px;
  padding-bottom: 100px;
}

.first-number-para {
  margin-left: -30px;
}
/* Features Section */

.features-section{
  align-items: center;
  justify-content: center;
  text-align: center;
    padding: 50px;
}
.features-text-one{
    font-size: 50px;
    padding: 25px;
    margin-top: 50px;
    margin-left: -650px;
}
.feature-image{
  width: 850px;
    margin-left: 700px;
    margin-top: -500px;
}
.line-img{
    width: 20px;
    height: 320px;
    margin-top: 15px;
    margin-left: -1000px;
}
.feature-list{
    padding: 20px;
    margin-left: 150px;
    margin-top: -360px;
}
.feature-item-options{
    margin-left: -900px;
    margin-top: 10px;
}
.virtual-meetings:hover ,.live-chat:hover , .ai-summarize:hover, .meeting-clip:hover {
    cursor: pointer;
    color: #0364ff;
    transition: .2s;
}
.feature-item{
    font-size: 25px;
}
.live-chat , .ai-summarize {
  color: var(--primary-text-color);
    margin-top: 35px;
}
.ai-companion{
    margin-top: 35px;
    font-weight: 900;
}
.meeting-clip , .virtual-meetings {
  color: var(--primary-text-color);
    margin-top: 35px;
}
.collaboration-section , .collaboration{
    padding: 40px;
    background-color: var(--third-color);
    align-items: center;
    justify-content: center;
    text-align: center;
}
.collaboration-img{
    width: 1400px;
    padding: 50px;
}
.collaboration-text{
    font-size: 50px;
}
/* collaboration section */
.collaboration{
    background-color: rgb(255, 255, 255);
}
.collabration-nav{
  font-size: 25px;
  padding-top: 80px;
   text-align: center;
   justify-content: center;
   gap: 70px;
}
.line2-img{
  margin-left: -20px;
    width: 1300px;
}
.record-meeting{
  color: var(--primary-text-color);
}
.share-meeting{
  font-weight: 900;
}
.record-meeting:hover{
  color: #045bde;
  cursor: pointer;
  transition: .2s;
}
.collab-img{
  width: 600px;
  margin-left: 180px;
  margin-top: 50px;
}

.team-collabration-text{
  text-align: left;
  margin-top: -510px;
  font-size: 50px;
  margin-left: 850px;
}
.team-collabration-para{
  margin-left: 850px;
  margin-top: 20px;
  text-align: left;
}
.icon{
  background-color: rgb(201, 201, 201);
  padding: 9px;
  border-radius: 50%;
}
.collaboration-feature{
  text-align: left;
  margin-left: 600px;
}
.team-invite {
  margin-top: 10px;
  margin-left: 250px;
}
.team-invite-para{
  margin-left: 250px;
  margin-top: 10px;
}
.invite-icon{
  margin-left: 250px;
  margin-top: 40px;
}
.icon-two{
  display: flex;
margin-left: -95px;
margin-top: 20px;
}
.join{
  margin-top: -75px;
  margin-left: -100px;
}
.join-para{
  margin-top: -80px;
  margin-left: -100px;
}
/* Offer plan */
.pricing{
 margin-top: 200px; 
 padding: 100px;
 background-color: rgba(212, 211, 211, 0.233);
}
.offer-pannel{
font-weight: 900;
font-size: 50px;
margin-left: 700px;
}
.offer-para{
  color: black;
}
.bold-text{
 font-weight: 900;
}
.first-venifits{
  
}
